body{
  background-color: black;
  color: white;
  width: 100%;
}

body::-webkit-scrollbar{
  display: none;
}
.nav{
  width: 100%;
}
.nav_bar{
  background-color:#014a63;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search_bar{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 30%;
  background-color: black;
  padding: 10px;
}
.search_bar input{
  color: white;
  background-color: black;
  border: none;
  width: 400px;
}

.search_bar input::placeholder{
  font-weight: bold;
  color: white;
}
.search_bar input:focus{
  outline: none;
}

.sub_bar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #ef476f;
}

.sub_bar .items{
  padding: 10px;
  font-weight: bold;
}

.sub_bar .items:hover{
  background-color: black;
  cursor: pointer;
}

td{
  vertical-align: middle;
  cursor: pointer;
}